.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, p {
  font-family: 'Avenir', Helvetica-Neue, sans-serif;
  text-transform: none;
  text-align: left
}

.reveal pre {
  box-shadow: none;
}

.reveal pre code{
  font-weight: 100
}

.hljs {
  background: none;
}

hr {
  border: none;
  border-bottom: 1px solid #fff;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal section .mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}

.reveal section .head-up {
  margin-bottom: 1em;
}


[data-buffer-view] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.img-row {
  display: flex;

}


.reveal section.frag-collapse .fragment{
    display:none
}
.reveal section.frag-collapse .fragment.visible{
    display:inline;
}


/* just because */
.reveal section.audio-data-code button {
  margin-top: 1em;
  font-size: 10vmin;
  background: inherit;
  color: #fff;
  padding: 0.7em;
  border: none;
  box-shadow: #aaa -2px 2px 2.5px;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  transition: .5s;
  cursor: pointer;
  outline:none;
  transform: scale(0.75)
}

.reveal section.audio-data-code button:hover {
  box-shadow: #aaa 2px 2px 2.5px;
}
